html {
/*background-color: chocolate;*/
    background-image: url("../images/background.jpg");
    background-size: 100%;
    background-attachment: fixed;
}
body{
    text-align: center;
}

/*navigation*/
#nav {
    width: 100%;
    height: 100%;
    margin-top: 3%;
}
#nav-wrapper{
    background-color: rgba(89, 36, 56, 0.58);
    margin-left: 4%;
    margin-right: 4%;
    border-radius: 12px;
    height: 100%;
    border:2px solid  rgba(89, 36, 56, 0.58);
}
#nav-wrapper ul li{
    list-style: none;
    display: inline;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    margin-top: 20px;
    background-color: #1E90FF;
    border-radius: 6px;
}
#nav-wrapper a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-family: "American Typewriter";
}
#nav-wrapper ul li :hover {
    transition: all 0.65s;
    opacity: 0.6;
    background-color: #aa220e;
    border-radius: 26px;
    filter: alpha(opacity=60);
    margin-left: 10px;
    margin-right: 10px;
    padding: 8px;
}
/*section home page*/
#sectionHome{
    border: 3px solid honeydew;
    border-radius: 12px;
    background-image: url("../images/backhome.jpg");
    background-size: cover;
    margin-left: 4%;
    margin-right: 4%;
    height: 700px;
}
#section2{

    height: 10%;
    width: 40%;
    margin-left: 31%;
    margin-top: 3%;
    border: solid #7c7c7c 1px;
    border-radius: 6px;
    background-color: rgba(227, 192, 158, 0.44);
    box-shadow: 3px 3px 10px rgba(198, 202, 250, 0.81);

}
h2{
    color: aliceblue;

}

#section3{
    height: 10%;
    width: 24%;
    margin-left: 42%;
    margin-top: 3%;
    padding-top: 2%;
    border: solid #7c7c7c 1px;
    border-radius: 6px;
    background-color: rgba(227, 192, 158, 0.44);
    box-shadow: 3px 3px 10px rgba(198, 202, 250, 0.81);
}
button {
    height: 98%;
    width: 50%;
    border-radius: 6px;
    border: 2px solid #a60a04;
    background-color: rgba(41, 15, 12, 0.83);
    font-size: 20px;
    text-transform: uppercase;
    color: white;
}
button a {
    text-decoration: none;
    color: #e8e8e8;
}

